<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuejs Introducción </title>
</head>
<body>

    <div id="app">
        <h1>{{titulo}}</h1>

        <input type="text"  v-model="nuevaFruta" @keyup.enter="agregarFruta" >
        <button @click="agregarFruta">Agregar Fruta</button>


        <ul>
            <li v-for="fruta in frutas">
                <input type="number" v-model.number="fruta.cantidad" min="0">
                {{fruta.cantidad}} - {{fruta.nombre}}
                <button @click="fruta.cantidad++">+</button>
                <button @click="fruta.cantidad--">-</button>
                <span v-if="fruta.cantidad === 0">
                    -Sin stock
                </span>
            </li>
        </ul>
        <h4>Total: {{sumarFrutas}}</h4>
    </div>
    

    <script src='js/vueDesarrollo.js'></script>
    <script src='js/02.js'></script>
</body>
</html>